<mgt-get
  resource="/me/messages"
  version="beta"
  scopes="mail.read"
  max-pages="2"
>
  <template>
    <div class="email" data-for="email in value">
      <h3>[[ email.subject ]]</h3>
      <h4>
        <mgt-person
          person-query="[[email.sender.emailAddress.address]]"
          view="oneline"
          person-card="hover"
        >
        </mgt-person>
      </h4>
      <div data-if="email.bodyPreview" class="preview" innerHtml>
        [[email.bodyPreview]]
      </div>
      <div data-else class="preview">email body is empty</div>
    </div>
  </template>
  <template data-type="loading"> loading </template>
  <template data-type="error"> [[ this ]] </template>
</mgt-get>
