nav {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;

    .title {
        font-size:x-large;
        font-weight: 500;
    }
}